# Entornos Virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*
!.env.example

# Python / Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
*.log

# Testing
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
.tox/

# IDE
.idea/

# Sistema Operativo
Thumbs.db
desktop.ini
.DS_Store


.claude/
CLAUDE.md